 <h1> This is codeial <%= title %> </h1>

 <section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" placeholder="Type here..." rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
 </section>  